---
layout: default
title: Team
permalink: /team/
group: top
style: No Column
---

<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>{{ page.title }}</h2>
        <p>Meet the team</p>
    </header>
    <div class="container">
        <hr class="major" />
        <div class="row">

          {% for image in site.static_files %}
              {% if image.path contains 'profiles/pictures' %}
                <div class="4u">
                    <section id="profile">
                        <a href="#" class="image fit"><img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                          <p>
                            {{ image.path }}
                          </p>
                        <ul class="actions">
                            <li><a href="#" class="button alt">Learn More</a></li>
                        </ul>
                    </section>
                </div>
              {% endif %}
          {% endfor %}
        </div>
    </div>
</section>
